.sub_div {
    width: 35em;
    margin: 0 auto;
    font-family: Verdana, Arial, sans-serif;
    align-items: center;
}

.sight {
    color: fff;
    display: flex;
    margin-top: 800px;
    font-size: 15px;
    transform: translate(-50%, -50%);
}

/* .uploadButton {
    display: block;
    width: 100px;
    background: #3df;
    padding: 10px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.uploadButton:hover {
    background: #3ce;
}
.uploadButton div{
  color: #00097d;
} */